{% extends 'base.html.twig' %}

{% block title %}Liste des recettes{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Liste des recettes</h1>

        {% if recipes is empty %}
            <p>Aucune recette n'a été trouvée.</p>
        {% else %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Contenu</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recipe in recipes %}
                        <tr>
                            <td>
                                <turbo-frame id="recipe_{{ recipe.id }}" >
                                    <a href="{{ path('recipe.edit', {'id': recipe.id}) }}">
                                        {{ recipe.title }}
                                    </a>
                                </turbo-frame>

                            </td>
                            <td>{{ recipe.content|slice(0, 100) }}...</td>
                            <td>
                                <a href="{{ path('recipe.edit', {'id': recipe.id}) }}" class="btn btn-primary btn-sm">Voir la recette</a>
                                <form action="{{ path('recipe.delete', {'id': recipe.id}) }}" method="post" style="display: inline-block">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
